GOOGLE_API_KEY=
# GOOGLE_EMBEDDING_MODEL='models/embedding-001'
GOOGLE_EMBEDDING_MODEL='gemini-embedding-001'
GOOGLE_CHAT_MODEL='gemini-2.5-flash-lite'
HUGGINGFACE_EMBEDDING_MODEL='sentence-transformers/all-MiniLM-L6-v2'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_CHAT_MODEL='gpt-5-nano'
DATABASE_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5432/rag
PG_VECTOR_COLLECTION_NAME=pdf_collection
PDF_PATH=D:\Projetos\FullCycle\desafios\desafio01_ingestao_busca_dados\mba-ia-desafio-ingestao-busca\document.pdf